/*Agregamos la fuente que vamos a utilizar en la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
:root {
    --facebook:#3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
    --linkedin: #0077B5;
}

* {
    font-family: 'Montserrat';
    background-color: black;
}
h1 {
    color: red;
}

img {
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
p {
    color: red;
    max-width: 100%;
    margin: 5px 2px;
}
.contacto a{
    display: block;
    max-width: 500px;
    background-color: rgb(41, 99, 193);
    padding: 15px 30px;
    font-weight: 700;
    margin: 15px 0;
    color: aliceblue;
    text-decoration: none;
    border-radius: 10px;
}
.contacto a:hover{
    background-color: aliceblue;
    border: 2px solid rgb(41, 99, 193);
    color: rgb(41, 99, 193);
    transition: .5s;
}

.redes {
    display:flex;
    align-items:center;
    justify-content:center;
}

.redes ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes ul li a {
    display: block;
    padding: 0 10px;
    font-size: 18px;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    transition: .2s;
}
/*efecto de desenfoque en los iconos de redes*/

.redes ul:hover a {
    filter: blur(2px);
}

.redes ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    filter: none;
}

.redes .facebook:hover {
    color: var(--facebook);
}
.redes .instagram:hover {
    color: var(--instagram);
}
.redes .twitter:hover {
    color: var(--twitter);
}
.redes .linkedin:hover {
    color: var(--linkedin);
}
